@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$CorPrincipal;
    z-index: 1;

    &_container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
    }

    &_logo {
        width: 125px;
        margin: 5px;
    }
    

    &_links {
        display: flex;
        align-items: center;
        
        &_item {
            margin: 0px 5px;
        }
    }

    #hamburguer {
        display: none;
        color: variaveis.$CorSecundaria;
        border: 1px solid variaveis.$CorSecundaria;
        border-radius: 4px;
    }

    .button {
        font-size: 18px;
        color: variaveis.$CorSecundaria;
        text-decoration: none;
        border: 1px solid variaveis.$CorSecundaria;
        border-radius: 4px;
        padding: 8px 14px;
        transition-duration: 0.5s;
    }

    @media (min-width: 1024px) {
        .button:hover {
            background-color: variaveis.$CorSecundaria;
            color: variaveis.$CorPrincipal;
        }
    }


    @media (max-width: 640px) {
        &_container {
            display: block;
            &_up {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 0px 0px;
                margin-left: -8%;
            }
        }
        
        &_logo {
            margin: auto;
            margin-right: 35%;
        }

        &_links {
            display: none;
            justify-content: end;

            &_item {
                margin: 0px 2px;
            }
        }

        .active {
            display: flex;
        }

        #hamburguer {
            display: block;
            margin: auto;
            margin-left: 99%;
        }

        .button {
            padding: 2px 1px;
            margin: auto 0px;
        }
    }
}