@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$CorPrincipal;
    z-index: 1;

    &_container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
    }

    &_logo {
        max-width: 125px;
        width: 100%;
        margin: 5px;
    }
    

    &_links {
        display: flex;
        align-items: center;
        
        &_item {
            margin: 5px;
        }
    }

    .button {
        height: 5px;
    }

    @media (max-width: 640px) {
        &_container {
            padding: 8px 25px;
        }
    }
}