@use 'variaveis';

.shows {
    margin-top: 50px;
    text-align: center;
    
    &_list {
        display: none;
        gap: 24px;

        &--is-active {
            display: flex;
            justify-content: center;
        }

        .Kung1 {
            height: 900px;
        }
        .Kung2 {
            height: 1000px;
        }
        .Kung3 {
            height: 900px;
        }
        .Kung4 {
            height: 1500px;
        }

        &_item {
                border-radius: 24px;
                background-color: variaveis.$CorPrincipal;
                text-align: center;
                max-width: 1624px;
                max-height: 1124px;
                
                img {
                    margin: 24px 0;
                    max-width: 160px;
                }
                
                p {
                    text-align: center;
                    max-height: 60%;
                    max-width: 50%;
                    margin: 0 auto;
                    color: white;
                }

                video {
                    width: 80%;
                    margin-top: 24px;
                    border-radius: 24px;
                }
        }
    }

    &_tabs {
        display: flex;
        justify-content: center;

        &_button {
            color: variaveis.$CorSecundaria;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--is-active {
                border-color: variaveis.$CorSecundaria;
            }
        }
    }

    @media (max-width: 768px) {
        .Kung1 {
            height: 650px;
        }
        .Kung2 {
            height: 700px;
        }
        .Kung3 {
            height: 700px;
        }
        .Kung4 {
            height: 900px;
        }
    }

    @media (max-width: 480px) {
        &_list {
                margin-top: 44px;
                margin: 0px 20px;
        }
        p {
            max-width: 80%;
            margin: 0 auto;
        }
            .Kung1 {
                height: 564px;
            }
            .Kung2 {
                height: 500px;
            }
            .Kung3 {
                height: 500px;
            }
            .Kung4 {
                height: 900px;
            }
    }
}


