//Cores
$CorPrincipal: orangered;
$CorSecundaria: yellow;
$CorDeFundo: red;
$CorHover: #fff;

//Fontes
@mixin FontJost() {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}