@use 'variaveis';

.welcome {
    &_img {
        max-width: 1400px;
        display: block;
        margin: 0 auto;

        img {
            width: 87.5em;
            margin: 8px 0px;
            border-radius: 24px;
        }
    }

    &_text {
        background-color: variaveis.$CorPrincipal;
        border-radius: 36px;
        padding: 96px;
        margin: 8px 500px;

        p {
            color: white;
        }
    }

    @media (max-width: 640px) {
        &_img {
            img {
                max-width: 512px;
            }
        }

        &_text {
            max-width: 512px;
            margin: 0;
            padding: 12px 64px;
            
        }
    }
}