@use 'header';
@use 'variaveis';
@use 'welcome';
@use 'shows';
@use 'voice-actors';
@use 'footer';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}
    
body {
    background-color: variaveis.$CorDeFundo;
}

.FontJost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@media screen and (max-width: 480px) {
    
}